[submodule "zsh-config"]
	path = zsh-config
	url = git@github.com:issenn/zsh-config.git
[submodule "tmux-config"]
	path = tmux-config
	url = git@github.com:issenn/tmux-config.git
[submodule "iterm2-config"]
	path = iterm2-config
	url = git@github.com:issenn/iterm2-config.git
[submodule "vscode-config"]
	path = vscode-config
	url = git@github.com:issenn/vscode-config.git
[submodule "openvpn-config"]
	path = openvpn-config
	url = git@github.com:issenn/openvpn-config.git
[submodule "git-config"]
	path = git-config
	url = git@github.com:issenn/git-config.git
[submodule "vim-config"]
	path = vim-config
	url = git@github.com:issenn/vim-config.git
[submodule "sublime-text-3-config"]
	path = sublime-text-3-config
	url = git@github.com:issenn/sublime-text-3-config.git
[submodule "rime-config"]
	path = rime-config
	url = git@github.com:issenn/rime-config.git
[submodule "aria2-config"]
	path = aria2-config
	url = git@github.com:issenn/aria2-config.git
[submodule "docker-config"]
	path = docker-config
	url = git@github.com:issenn/docker-config.git
[submodule "frp-config"]
	path = frp-config
	url = git@github.com:issenn/frp-config.git
[submodule ".keep"]
	path = .keep
	url = git@github.com:issenn/config.keep.git
[submodule "ssh-config"]
	path = ssh-config
	url = git@github.com:issenn/ssh-config.git
[submodule "homebrew-config"]
	path = homebrew-config
	url = git@github.com:issenn/homebrew-config.git
[submodule "gnupg-config"]
	path = gnupg-config
	url = git@github.com:issenn/gnupg-config.git
